{%- style -%}
  .bd-buyat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 30px;

    @media (max-width: 767px) {
      padding: 50px 15px;
    }
  }

  .bd-buyat__title {
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 700;
    color: var(--onyx);
    text-align: center;
  }

  .bd-buyat__description {
    font-size: clamp(12px, 20px, 24px);
    color: var(--onyx);
    text-align: center;
    max-width: 800px;
    margin-bottom: 30px;
  }

  .bd-buyat__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
    max-width: 1280px;
  }

  .bd-buyat__item {
    position: relative;
    width: 100%;
    min-height: 350px;
    max-height: 450px;
    overflow: hidden;
    border-radius: 24px;
    transition: transform 0.3s ease;
    justify-self: center;
    align-self: center;
  }

  @media (max-width: 650px) {
    .bd-buyat__item {
      max-width: 480px;
    }
  }

  .bd-buyat__item:hover,
  .bd-buyat__item:focus {
    transform: scale(1.05);
  }

  .bd-buyat__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    z-index: 1;
    background-position: center;
    background-size: contain;
  }

  .bd-buyat__item-content {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 2;
    color: var(--snow);
  }

  .bd-buyat__item-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    color: var(--snow);
  }

  .bd-buyat__item-address {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: var(--snow);
  }
{%- endstyle -%}

<section class="bd-buyat">
  <h2 class="bd-buyat__title">For local deliveries.</h2>
  <p class="bd-buyat__description">We've partnered with brands to bring our cookies closer to you.</p>
  <div class="bd-buyat__container">
    <a
      href="https://www.doordash.com/business/bake-dream-14462117/"
      class="bd-buyat__item"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        class="bd-buyat__item-image"
        src="{{ 'doordash-brooklyn.jpg' | asset_url }}"
        alt="Bake Dreams DoorDash - Brooklyn"
        width="480"
        height="550"
      >
      <div class="bd-buyat__item-content">
        <h4 class="bd-buyat__item-title">DoorDash - Brooklyn</h4>
        <p class="bd-buyat__item-address">Get a quick local delivery now!</p>
      </div>
    </a>
    <a
      href="https://www.doordash.com/business/bake-dream-14462117/"
      class="bd-buyat__item"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        class="bd-buyat__item-image"
        src="{{ 'ubereats-brooklyn.jpg' | asset_url }}"
        alt="Bake Dreams Uber Eats - Brooklyn"
        width="480"
        height="550"
      >
      <div class="bd-buyat__item-content">
        <h4 class="bd-buyat__item-title">Uber Eats - Brooklyn</h4>
        <p class="bd-buyat__item-address">Get a quick local delivery now!</p>
      </div>
    </a>
    <a
      href="https://www.doordash.com/business/bake-dream-14462117/"
      class="bd-buyat__item"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        class="bd-buyat__item-image"
        src="{{ 'doordash-queens.jpg' | asset_url }}"
        alt="Bake Dreams DoorDash - Queens"
        width="480"
        height="550"
      >
      <div class="bd-buyat__item-content">
        <h4 class="bd-buyat__item-title">DoorDash - Queens</h4>
        <p class="bd-buyat__item-address">Get a quick local delivery now!</p>
      </div>
    </a>
    <a
      href="https://www.doordash.com/business/bake-dream-14462117/"
      class="bd-buyat__item"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        class="bd-buyat__item-image"
        src="{{ 'ubereats-queens.jpg' | asset_url }}"
        alt="Bake Dreams Uber Eats - Queens"
        width="480"
        height="550"
      >
      <div class="bd-buyat__item-content">
        <h4 class="bd-buyat__item-title">Uber Eats - Queens</h4>
        <p class="bd-buyat__item-address">Get a quick local delivery now!</p>
      </div>
    </a>
  </div>
</section>
