{%- style -%}
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-ltcushion), sans-serif;
    overflow-x: hidden;
  }

  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
  }

  p {
    font-family: var(--font-ltcushion), sans-serif;
    font-size: clamp(12px, 16px, 20px);
    color: var(--onyx);
    line-height: 1.2;
    letter-spacing: 0px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    background-color: var(--old-lace);
    height: 95dvh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      padding: 15px;
      margin-bottom: 20px;
    }
  }

  .hero-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 32px;
    text-align: right;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(251deg, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0) 80%),
      url({{'bd-hero.jpg'|asset_url}}) lightgray center/cover no-repeat;
  }

  .hero-subtitle {
    position: relative;
    font-size: clamp(2.5rem, 4.5vw, 64px);
    color: var(--snow);
    font-weight: 300;
  }

  .hero-title {
    font-size: clamp(3rem, 6vw, 92px);
    font-weight: 300;
    color: var(--snow);
    line-height: 1.1;
  }

  .hero-text {
    font-size: clamp(14px, 20px, 20px);
    color: var(--snow);
  }

  .bakedream-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 32px;
    gap: 10px;
    border: 3px solid transparent;
    width: fit-content;
    font-size: clamp(12px, 14px, 16px);
    pointer-events: all;
    cursor: pointer;
  }

  .btn-primary {
    background-color: var(--chocolate-cosmos);
    color: var(--snow);
    transition: transform 0.3s ease;
    pointer-events: all;
    border: 3px solid transparent;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25), 0px 20px 35px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    color: var(--snow);
    border: 3px solid var(--snow);
    background-color: transparent;
  }

  @media (max-width: 1024px) {
    .hero-title,
    .hero-subtitle {
      color: var(--old-lace);
      text-shadow: unset;
    }

    .hero-description {
      color: var(--old-lace);
      text-shadow: unset;
    }

    .hero-text {
      color: var(--old-lace);
      text-shadow: unset;
    }

    .hero-content {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
{%- endstyle -%}

<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      <span class="hero-subtitle">Like NY Style,</span>
      <br>
      <strong>Unpredictable</strong>
    </h1>
    <p class="hero-text">
      Discover our handcrafted cookies—crispy on the outside, soft on the <br>
      inside—made with love in New York.
    </p>
    <a href="{{ routes.all_products_collection_url }}" class="bakedream-btn btn-primary">
      order now <i data-lucide="cookie"></i
    ></a>
  </div>
</section>
